<template>
<div class="card">
    <img class="card-img-top" 
    :src="(item.images && item.images[0]) ? item.images[0].url : 'https://placekitten.com/400/300'" 
    alt="Artist card cap">
    <div class="card-body" style="margin:2 2 2 2;">
      <h5 class="card-title">{{item.name | shorten(20) }}</h5>
      <p class="card-text">Followers #: {{item.followers.total }}</p>
      <p class="card-text"><small class="text-muted">{{item.popularity}}</small></p>
    </div>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Artist } from '@/model/Album.ts';
import { Playlist } from '@/model/Playlist';

@Component({
    props: ['item'],
    })
export default class ArtistCard extends Vue {
    public item!: Artist;
}
</script>

<style> </style>
