<template>
<div class="card">
     <div class="card-body" style="margin:2 2 2 2;">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text"><slot></slot></p>
      <!-- define name present in $refs, to reference it post rendering -->
      <div class="card-footer"
            ref="footer" >
          <slot name="footer" :close="close"></slot>
      </div>
    </div>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component({})
export default class Card extends Vue {
    @Prop({})
    public title!: string;

    public close() {
        console.log('Close');
    }
}
</script>

<style> </style>
