<template>
<div class="card">
    <img class="card-img-top" 
    :src="(item.images && item.images[0]) ? item.images[0].url : 'https://placekitten.com/400/300'" 
    alt="Track image cap">
    <div class="card-body" style="margin:2 2 2 2;">
      <h5 class="card-title">{{item.name | shorten(20) }}</h5>
      <p class="card-text">{{item.artists[0].name}} on {{item.album.name }}</p>
      <p class="card-text">
          <small :class="[{'text-muted': !item.explicit}, 
                          {'text-danger': item.explicit}]"
          >{{item.duration_ms / 1000 }} s</small>
          </p>
    </div>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Track } from '@/model/Album.ts';
import { Playlist } from '@/model/Playlist';

@Component({
    props: ['item'],
    })
export default class TrackCard extends Vue {
    public item!: Track;
}
</script>

<style> </style>
