<template>
    <div>
        <h2> Music Search </h2>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <QueryField @search="search"> </QueryField>
                    </div>
                    <div class="col-2">
                        <select class="form-control" 
                            @change="setType($event.target.value)"
                            >
                            <option value="album">Album</option>
                            <option value="track">Track</option>
                            <option value="artist">Artist</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <SearchResults
                v-bind:results="results"
                v-bind:resultType="resultType"></SearchResults>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Album, Artist, Track } from '@/model/Album.ts';
import QueryField from '@/components/QueryField.vue';
import SearchResults from '@/components/SearchResults.vue';
import { search } from '@/services';

@Component({
    components: {
        QueryField,
        SearchResults,
    },
})
export default class MusicSearch extends Vue {
    public get results() {
        return this.$store.getters.results;
    }

    public get type(): 'artist' | 'album' | 'track' {
        return this.$store.getters.resultType;
    }

    public get resultType() {
        return {
            album: 'AlbumCard',
            artist: 'ArtistCard',
            track: 'TrackCard',
            }[this.type];
    }

    public get query() {
        return this.$store.getters.query;
    }

    public setType(value: string) {
        this.$store.dispatch('setType', value);
        this.search(this.query);
    }

    public search(value: string) {
        this.$store.dispatch('search', value);
    }
}
</script>

<style scoped> 
 
</style>
