<template>
  <div id="app">
      <div class="row">
        <div class="col" style="margin-left: 10px;">
          <playlist-list 
            v-bind:playlists="playlists"
            v-bind:selected="playlist"
            @newplaylist="new_playlist"
            @select="select"
            @remove="remove_item"
            ></playlist-list>
        </div>
        <div class="col" style="margin-right: 10px;">
          <h3>Playlist</h3>
            <div v-if="!draft && playlist">
              Details
              <playlist-details
                :playlist="playlist"
                @hidden="toggle_edit(true)"></playlist-details>
            </div>
            <div v-else-if="!playlist && !draft">
              <h5>Please select playlist first</h5>
            </div>
            <div v-else>
              Edit
              <playlist-form
              :playlist="draft"
              @hidden="toggle_edit(false)"
              @update="update_item">
              </playlist-form>
            </div>
        </div>
      </div>
    </div>
</template>

<style></style>

<script lang="ts">
import Vue from 'vue';
import { mapActions } from 'vuex';
import Component from 'vue-class-component';
import { Playlist } from '@/model/Playlist';
import PlaylistsC from '@/components/Playlists.vue';
import PlaylistDetails from '@/components/PlaylistDetails.vue';
import PlaylistForm from '@/components/PlaylistForm.vue';

@Component({
  components: {
    'playlist-list': PlaylistsC,
    'playlist-details': PlaylistDetails,
    'playlist-form': PlaylistForm,
  },
})
export default class PlaylistsView extends Vue {
  public draft: Playlist|null = null;

  public get playlists() {
    return this.$store.getters.playlists;
  }

  public get playlist() {
    return this.$store.getters.selectedPlaylist;
  }

  public toggle_edit(value: boolean) {
    if (value === true) {
      this.draft = {...this.playlist!};
    } else {
        this.draft = null;
    }
  }

  public select(item: Playlist) {
    if (item !== null) {
      this.$store.dispatch('selectPlaylist', item.id);
    } else {
      this.$store.dispatch('selectPlaylist', null);
      this.draft = null;
    }
  }

  public update_item(item: Playlist) {
    this.$store.dispatch('savePlaylist', item);
    this.draft = null;
  }

  public new_playlist() {
    this.draft = {
      fav  : false,
      name : '',
      color: '#000000',
      id   : (Date.now() % 10000 +
              parseInt((Math.random() * 100).toPrecision(2), 10)),
    };
  }

  public remove_item(item: Playlist) {
    this.$store.dispatch('removePlaylist', item.id);
  }
}
</script>
