<template>
<Card>
    <div>
    <dl>
        <dt>Name:</dt>
        <dd>{{playlist.name}}</dd>
        <dt>Is favorite:</dt>
        <dd>{{playlist.fav ? 'Yes': 'No'}}</dd>
        <dt>Color:</dt>
        <dd :style="{color: playlist.color}">{{playlist.color}}</dd>
    </dl>
    </div>
    <input type="button" slot="footer" value="Edit" class="btn btn-info"
           v-on:click="hide_details"/>
</Card>
</template>


<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Playlist } from '@/model/Playlist';

@Component({
    props: ['playlist'],
})
export default class PlaylistDetails extends Vue {
    public playlist!: Playlist;

    public hide_details() {
        this.$emit('hidden');
    }

    // public created() {
    //     console.log('created', this);
    // }

    // public mounted() {
    //     console.log('mounted', this);
    // }

    // public beforeUpdate() {
    //     console.log('beforeUpdate', this);
    // }

    // public updated() {
    //     console.log('updated', this);
    // }

}
</script>
