<template>
<Card>
<div>
    <form class="form-group" @submit.prevent>
    <label>Name</label>
    <input type="text" class="form-control" v-model="playlist.name">
    <label class="mr-2">Favorite </label>
    <input type="checkbox" class="mt-2" v-model="playlist.fav"><br/>
    <label>Color</label> 
    <input type="color" v-model="playlist.color">
    </form>
</div>
    <template  slot="footer" slot-scope="card_scope">
    <input type="button" slot="footer" value="Close" class="btn btn-success"
            @click="card_scope.close">
    <input type="button" slot="footer" value="Cancel" class="btn btn-danger mr-2"
           @click="hide_form">
    <input type="submit" slot="footer" value="Save" class="btn btn-success"
            @click="save_values">
    </template>
</Card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Playlist } from '@/model/Playlist';

@Component({
    props: ['playlist'],
})
export default class PlaylistForm extends Vue {
    public playlist!: Playlist;

    public hide_form() {
        this.$emit('hidden');
    }

    public save_values() {
        this.$emit('update', this.playlist);
    }
}
</script>


<style>

</style>
