<template>
<div>
<h3>Playlists</h3>
    <QueryField v-model="query"> </QueryField>
    <div class="list-group">
        <div v-for="pl of search_results"
            :key="pl.id"
            :class="{active: selected && pl.id == selected.id}"
            @click="select(pl)"
            class="list-group-item">{{pl.name}} 
        <span class="close" @click.stop="remove(pl)">&times;</span>
        </div>
    </div>
    <span class="float-left mt-2">Favourites count: {{count_favs}}</span>
    <input type="button" value="New Playlist" 
           class="btn btn-info float-right mt-3"
           @click="new_pl">
</div>
</template>

<script lang='ts'>

import Vue from 'vue';
import Component from 'vue-class-component';
import {Prop} from 'vue-property-decorator';
import { Playlist } from '@/model/Playlist';
import QueryField from '@/components/QueryField.vue';

@Component({
    components: {
        QueryField,
    },
    model: {
        prop: 'selected',
        event: 'select',
    },
})
export default class PlaylistsC extends Vue {
    @Prop()
    public playlists!: Playlist[];
    @Prop()
    public selected!: Playlist;
    private query: string = '';

    // computed
    public get count_favs() {
        return this.playlists.filter((p) => p.fav === true).length;
    }

    public select(item: Playlist) {
        if (this.selected !== item) {
            this.$emit('select', item);
        } else {
            this.$emit('select', null);
        }
    }

    public search(value: string) {
        this.query = value;
    }

    public get search_results() {
        return this.playlists.filter((p) => (
                p.name.toLowerCase().includes(this.query.toLowerCase())));
    }

    public remove(item: Playlist) {
        this.$emit('remove', item);
    }

    public new_pl() {
        this.$emit('newplaylist');
    }
}
</script>

<style> </style>
