<template>
<div class="input-group mb-3">
    <input type="text" class="form-control"
        placeholder="Search ..."
        @input="search($event.target.value)">
    
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
    model: {
        prop: 'query',
        event: 'search',
    },
})
export default class QueryField extends Vue {
    private query = '';
    private debounce?: number;

    public search(value: string) {
        clearTimeout(this.debounce);
        this.debounce = setTimeout( () => {
            this.$emit('search', value);
        }, 750);
    }
}
</script>

<style> </style>
