<template>
<div class="card-group">
  <div v-for="ac of results"
    :key="ac.id" 
    :item="ac"
    :is="resultType"></div>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Results } from '@/model/Album.ts';
import AlbumCard from '@/components/cards/AlbumCard.vue';
import ArtistCard from '@/components/cards/ArtistCard.vue';
import TrackCard from '@/components/cards/TrackCard.vue';

@Component({
    components: {
        // Need to register all components used as 'resultType' value
        AlbumCard, ArtistCard, TrackCard,
    },
    props: ['results', 'resultType'],
})
export default class SearchResults extends Vue {
    public results!: Results;
}
</script>

<style>
    .card { flex: 0 0 25% !important;}
</style>
