<template>
  <div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <router-link class="navbar-brand" to="/">MusicApp</router-link>
   <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li v-for="tab in tabs"
        v-bind:key='tab'
        v-bind:class="['nav-item', {active: currentTab === tab}]"
        v-on:click="currentTab = tab">
        <a class="nav-link" :href="'#/' + tab">{{ tab }}
            <span class="sr-onl" v-if="currentTab === tab">(Current)</span>
        </a>
    </li>
    </ul>
  </div>
</nav>
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>

<style>
@import "~bootstrap/dist/css/bootstrap.css";
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import PlaylistsView from '@/views/PlaylistsView.vue';
import MusicSearch from '@/views/MusicSearch.vue';

@Component({
  components: {
    PlaylistsView,
    MusicSearch,
  },
})
export default class App extends Vue {
    public currentTab: string = 'Search';
    public tabs: string[] = ['Search', 'Playlists'];

    public get currentTabComponent() {
        return ({
            search: MusicSearch,
            playlists: PlaylistsView,
          } as {[k: string]: any})[this.currentTab.toLowerCase()];
    }
}
</script>
